DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,frontend-service

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=frontend_db
DB_USER=frontend_user
DB_PASSWORD=frontend_password
DB_HOST=db-frontend
DB_PORT=5432

# Backend Services URLs
USER_SERVICE_URL=http://user-service:8000
PRODUCT_SERVICE_URL=http://product-service:8000
CART_SERVICE_URL=http://cart-service:8000
ORDER_SERVICE_URL=http://order-service:8000
SHIPPING_SERVICE_URL=http://shipping-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000
